<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To do List!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
      body  {
        background: linear-gradient(130deg, #1a2a6c, #b21f1f 41.07%, #fdbb2d 76.05%);
        font-family: sans-serif;
      }
  </style>
    
  </head>

  <nav class="navbar navbar-dark" style="background-color: #b21f1f;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{nama}}</a>
     
          <!--<button class="btn btn-outline-success" type="submit">Logout</button>-->
          <button><a href="{% url 'todolist:logout' %}">Logout</a></button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <h1>Your Todolist!</h1>
  </div>
  

  <!-- <table>
    <tr>
      <th class ="header">Tanggal Pembuatan Task</th>
      <th class ="header">Judul Task</th>
      <th class ="header">Deskripsi Task</th>
      <th class ="header">Status</th>
      <th class ="header">Delete</th>
    </tr> -->
    
    {% comment %} Add the data below this line {% endcomment %}
    {% for Task in list_task %}

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{Task.title}}</h5>
        <p class="card-text">{{Task.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{Task.date}}</li>
      </ul>
      <div class="card-body">
        {% if Task.is_finished  %}
          <a href="{% url 'todolist:status' Task.id %}" class="card-link">Selesai</a>
        {% else %}
          <a href="{% url 'todolist:status' Task.id %}" class="card-link">Belum Selesai</a>
        {% endif %}
        <a href="{% url 'todolist:delete_task' Task.id %}" class="btn btn-danger btn-sm" role="button">Delete Task</a>
        
      </div>
    </div>
    
    <!-- <tr>
        <th>{{task.date}}</th>
        <th>{{task.title}}</th>
        <th>{{task.description}}</th>
        {% if task.is_finished  %}
          <th><a href="update_task/{{task.pk}}">selesai</a></th>
        {% else %}
          <th><a href="update_task/{{task.pk}}">belum selesai</a></th>
        {% endif %}
        <th><a href="delete_task/{{task.pk}}">Delete Task</a></th>        
    </tr> -->
  {% endfor %}
  <!-- </table> -->
  <button><a href="{% url 'todolist:create_task' %}">Add task</a></button>
  <button><a href="{% url 'todolist:logout' %}">Logout</a></button>

</html>